<div class="centered-div">
  <div>
    <h1 class="display">Create your team</h1>
    <%= form_with model: @team, local: true do |form| %>
      <div class="field">
        <%= form.label :name, "Team Name" %>
        <%= form.text_field :name, required: true %>
      </div>

      <div class="actions mt-5">
        <%= form.submit "Create Team" %>
      </div>

      <p class="opacity-50 py-4">— or —</p>

      <p>
        <em>
          Already have a team?
          <span class="funny-link-parent">
            <%= link_to "Join a team", teams_path %>
          </span>
        </em>
      </p>
    <% end %>

  </div>
</div>